// Dimensions
$spacing: 20px;
$br: 3px;
$font: Tahoma, Verdana, Segoe, sans-serif;
$green: #41AEA9;
$dark_green : #213E3B;
$light_green1:#E8FFFF;

img {
  display: block;
  margin: 5% auto;
  width: 100px;
}

button {
  width: 200px;
  margin-left: 2%;
  background: $dark_green;
  line-height: 3em;
  border: 1px solid $dark_green;
  border-radius: $spacing;
  font-family: $font;
  transition: 0.4s;
  cursor: pointer;
  color: white;
  &:hover {
    box-shadow: 5px 5px 20px $green;
  }
}

h1, h2, label {
  font-family: $font;
  font-size: 20px;
  text-align: center;
}

h1 {
  color: $dark_green;
  padding: 10px;
}

h2 {
  color: #000;
  font-size: 20px;
  background: #f6fffd;
  padding: $spacing;
}

label {
  color: #8a8a8a;
  font-size: 18px;
  padding: $spacing;
}

* {
  box-sizing: border-box;
}

.face {
  position: absolute;
  width: 250px;
  height: 350px;
  padding: $spacing;
  background: rgba(250, 250, 250, 0.96);
  border: 3px solid $green;
  border-radius: 10px;
}

.wrapper {
  width: 250px;
  height: 350px;
  margin: 60px auto;
  perspective: 600px;
  text-align: left;
}

.content {
  color: #666;

  h2 {
    font-size: 1.2em;
    color: $dark_green;
  }

  .field-wrapper {
    margin-top: $spacing * 1.5;
    position: relative;

    label {
      position: absolute;
      pointer-events: none;
      font-size: 0.85em;
      top: 40%;
      left: 0;
      transform: translateY(-50%);
      transition: all ease-in 0.25s;
      color: lighten(#000, 20%);
    }

    input[type="text"],
    input[type="password"],
    input[type="submit"],
    textarea {
      -webkit-appearance: none;
      appearance: none;
      &:focus {
        outline: none;
      }
      border-radius: 10px;
    }

    input[type="text"],
    input[type="password"],
    textarea {
      width: 100%;
      border: none;
      background: transparent;
      line-height: 2em;
      border: 1px solid $green;
      color: $dark_green;

      &::-webkit-input-placeholder,
      &::-moz-placeholder,
      &:-ms-input-placeholder,
      &:-moz-placeholder {
        opacity: 0;
      }

      &:focus, &:not(:placeholder-shown) {
        + label {
          top: -35%;
          color: $dark_green;
        }
      }
    }

    input[type="submit"] {
      -webkit-appearance: none;
      appearance: none;
      cursor: pointer;
      width: 100%;
      background: $dark_green;
      line-height: 2em;
      color: white;
      border: 1px solid $dark_green;
      border-radius: $br;
      padding: calc($spacing / 4);

      &:hover {
        opacity: 0.9;
      }

      &:active {
        transform: scale(0.96);
      }
    }

    textarea {
      resize: none;
      line-height: 1em;

      &:focus, &:not(:placeholder-shown) {
        + label {
          top: -25%;
        }
      }
    }
  }
}
