/* You can add global styles to this file, and also import other style files */
body {
  // padding: 25px;
  background-color: white;
  color: black;
  // font-size: 25px;
}

.dark-mode {
  background-color: black;
  color: white;
}
