
$green: #41AEA9;
$dark_green : #213E3B;
$light_green1:#E8FFFF;

$prism-height: 550px;
$prism-length: 350px;
$prism-depth: $prism-length;
$spacing: 20px;
$br: 3px;
$font:Tahoma, Verdana, Segoe, sans-serif;
// Colors
$text-light: #fff;
$text-dark: #666;
$blue: #03a9f4;
$smoke: #f9f9fa;
$coral: #ff5751;
$navy-blue: #07ad90;

 body {
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: 'Poppins', sans-serif;
  overflow:hidden;
}
a {
  text-decoration: none;
}
// ---------------CARD1-------------------
.home
{
  display:flex;
  align-items: center;
  width: 100%;
  height: 87vh;
  border-radius: 0px 90px 300px 0px;
  background: linear-gradient(247deg, #24CBBF -13.76%, #191C1F 100.86%);

}
.card1-right {
  margin-left:100px;
  margin-top:0px;
  width: 40%;
}
.card1-right img{
  margin-top: 00px;
  width: 430px;
  height: auto;
  flex-shrink: 0;
  transition: transitionIn 1s;
}

.card1-left{
  height: max-content;
  color: $light_green1;
  width:43%;
  text-align:left;
  padding-left:200px;
}
.card-1-head
{ 
  font-weight: 600;
  margin:10px 0;
  font-size:50px;
}
.card-1-sub-head {
  font-size: 15pt !important;
  font-weight: 100;
  color:$light_green1;
  margin: 0 auto;
  line-height:1.5;
}

.card1-button {
  
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 10px;
  background: $light_green1;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.card1-button:hover {
  background: $dark_green;
  color: $light_green1;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.card1-button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.card1-button:hover svg {
  transform: translateX(5px); 
  fill: $light_green1;
}

button:active {
  transform: scale(0.95);
}

// ---------------CARD2-------------------
.EarnMoney
{
  color: $light_green1;
  display:flex;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-top: 50px;
  border-radius: 300px 0px 0px 300px;
  background: linear-gradient(270deg, #191C1F -3.66%, rgba(31, 186, 178, 0.84) 69.27%);

}
.card2-right {
  margin-left:100px;
  margin-top:0px;
  width: 40%;
}
.card2-left img{
  margin-top: 30px;
  width: 638px;
  height: auto;
  flex-shrink: 0;
  flex-shrink: 0;
}

.card2-left{
  height: max-content;
  color: $light_green1;
  width:43%;
  text-align:left;
  padding-left:200px;
}
.card-2-head
{ 
  font-weight: 600;
  margin:10px 0;
  font-size:50px;
}
.card-2-sub-head {
  font-size: 15pt !important;
  font-weight: 100;
  color:$light_green1;
  margin: 0 auto;
  line-height:1.5;
}

.card2-button {
  
  cursor: pointer;
  font-weight: 700;
  font-family: Helvetica,"sans-serif";
  transition: all .2s;
  padding: 10px 20px;
  border-radius: 10px;
  background: $light_green1;
  border: 1px solid transparent;
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-top: 20px;
}

.card2-button:hover {
  background: $dark_green;
  color: $light_green1;
  box-shadow: rgba(255, 255, 255, 0.2) 0px 7px 29px 0px;
}

.card2-button > svg {
  width: 34px;
  margin-left: 10px;
  transition: transform .3s ease-in-out;
}

.card2-button:hover svg {
  transform: translateX(5px); 
  fill: $light_green1;
}

.card2-button:active {
  transform: scale(0.95);
}


//card3
.Student
{
  color: $light_green1;
  display:flex;
  align-items: center;
  width: 100%;
  height: 60vh;
  margin-top: 50px;
  border-radius: 0px 300px 300px 0px;
  background: linear-gradient(90deg, rgba(25,28,31,1) 0%, rgba(0,186,178,1) 55%);
}
.card3-right {
  margin-left:100px;
  margin-top:0px;
  width: 40%;
}
.card3-right img{
  margin-top: 00px;
  width: 630px;
  height: auto;
  flex-shrink: 0;
  transition: transitionIn 1s;
}

.card3-left{
  height: max-content;
  color: $light_green1;
  width:43%;
  text-align:left;
  padding-left:200px;
}
.card-3-head
{ 
  font-weight: 600;
  margin:10px 0;
  font-size:50px;
}
.card-3-sub-head {
  font-size: 15pt !important;
  font-weight: 100;
  color:$light_green1;
  margin: 0 auto;
  line-height:1.5;
}

//------------card5---------------
.ff
{
  display:grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  width: 100%;
  height: 87vh;
  margin-top: 50px;
  background: linear-gradient(90deg, rgba(25,28,31,1) 50%, rgba(65,195,188,1) 50%);
  
}
.header-left{
  font-size: 50px;
  color: $light_green1;
  text-align: center;
}
.list-left{
  color: $light_green1;
  font-size: 25px;
  font-weight: 600;
}
.list-left li{
  margin-bottom: 200px;
}
.header-right{
  font-size: 50px;
  color: $dark_green;
  text-align: center;
  font-weight: 600;

}
.list-right{
  color: $dark_green;
  font-size: 25px;
  font-weight: 600;
}
.list-right li{
  margin-bottom: 200px;
}

.ff-imgR{
  width: 250px;
  margin-left: 150px;
  margin-top: 0px;
}
.ff-imgL{
  width: 245px;
  margin-top: 30px;
  margin-left: 80px;

}



@media only screen and (max-width: 600px) {
  //card1
 .home{
  align-items: safe;
 }
 .card1-left{
  width: 70%;
  padding-left:30px;
 }
 .card-1-head{
  width: fit-content;
  font-size: 25px;
  margin:6px 0;
 }
 .card1-right{
  margin-left:0px;
  margin-top:0px;
  width: 43%;
 }
 .card1-right img{
  margin-top: 0px;
  margin-left:0px;
  width: 250px;
  height: auto;
  flex-shrink: 0;
 }
 .card-1-sub-head{
  font-size: 13pt !important;
 }

//card2
.EarnMoney{
  align-items: safe;

}
.card2-left {
  padding-left:0px;
}
.card2-left img{
  width: 238px;
}
.card-2-head{
  width: fit-content;
  font-size: 25px;
  margin:6px 0;
 }
.card2-right{
  margin-left:10px;
  margin-top:0px;
  width: 50%;
}
//card3
.student{
  align-items: safe;
 }
 .card3-left{
  width: 70%;
  padding-left:30px;
 }
 .card-3-head{
  width: fit-content;
  font-size: 25px;
  margin:6px 0;
 }
 .card3-right{
  margin-left:0px;
  margin-top:0px;
  width: 43%;
 }
 .card3-right img{
  margin-top: 0px;
  margin-left:0px;
  width: 170px;
  height: auto;
  flex-shrink: 0;
 }
 .card-3-sub-head{
  font-size: 13pt !important;
 }

 //card5

 .ff
{
  display:grid;
  grid-template-columns: 1fr 1.3fr 1fr;
  width: 100%;
  height: 87vh;
  margin-top: 50px;
  background: linear-gradient(90deg, rgba(25,28,31,1) 50%, rgba(65,195,188,1) 50%);
  
}
.header-left{
  font-size: 20px;
}
.list-left{
  font-size: 14px;
}
.list-left li{
  margin-bottom: 150px;
}
.header-right{
  font-size: 20px;
 

}
.list-right{
  font-size: 14px;

}
.list-right li{
  margin-bottom: 150px;
}
.ff-imgR{
margin-top: 200px;
 width: 30%;

}
.ff-imgL{
  width: 30%;
}
}


