<section>
  <!-- <div class="test" *ngIf="show">
    <div > </div><a>hi</a>
  </div> -->
  <div class="home">
    <div class="card1-left l1" [@fadeIn]>
      <p class="card-1-head">
        Your gateway to creative collaboration and professional success.
      </p>
      <p class="card-1-sub-head">
        Freenety, the freelance platform that connects talents from around the
        world to exciting projects. Find the best freelancers or discover career
        opportunities
      </p>
      <button class="card1-button">
        <span>Join now</span>
        <svg
          width="34"
          height="34"
          viewBox="0 0 74 74"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="37"
            cy="37"
            r="35.5"
            stroke="black"
            stroke-width="3"
          ></circle>
          <path
            d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            fill="black"
          ></path>
        </svg>
      </button>
    </div>
    <div class="card1-right r1" [@fadeIn]>
      <img
        src="../../assets/images/Business_0003 1@2x.png"
        class="business-man-img"
        alt="tao"
        width="600"
        height="480"
        style="filter: drop-shadow(0px 27px 17px #00000026)"
      />
    </div>
  </div>

  <div class="EarnMoney">
    <div class="card2-left l1" [@fadeIn]>
      <img
        src="../../assets/images/3D money cash.png"
        class="business-man-img"
        alt="tao"
        width="600"
        height="480"
        style="filter: drop-shadow(0px 27px 17px #00000026)"
      />
    </div>

    <div class="card2-right r1" [@fadeIn]>
      <p class="card-2-head">
        Earn money and increase your income in convertible coins.
      </p>
      <p class="card-2-sub-head">
        Showcase your skills and land relevant projects, join now for financial
        success and digital value!
      </p>
      <button class="card2-button">
        <span>Get started</span>
        <svg
          width="34"
          height="34"
          viewBox="0 0 74 74"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <circle
            cx="37"
            cy="37"
            r="35.5"
            stroke="black"
            stroke-width="3"
          ></circle>
          <path
            d="M25 35.5C24.1716 35.5 23.5 36.1716 23.5 37C23.5 37.8284 24.1716 38.5 25 38.5V35.5ZM49.0607 38.0607C49.6464 37.4749 49.6464 36.5251 49.0607 35.9393L39.5147 26.3934C38.9289 25.8076 37.9792 25.8076 37.3934 26.3934C36.8076 26.9792 36.8076 27.9289 37.3934 28.5147L45.8787 37L37.3934 45.4853C36.8076 46.0711 36.8076 47.0208 37.3934 47.6066C37.9792 48.1924 38.9289 48.1924 39.5147 47.6066L49.0607 38.0607ZM25 38.5L48 38.5V35.5L25 35.5V38.5Z"
            fill="black"
          ></path>
        </svg>
      </button>
    </div>
  </div>

  <div class="Student">
    <div class="card3-left l1" [@fadeIn]>
      <p class="card-3-head">
        Break free from student routine and stand out today.      </p>
      <p class="card-3-sub-head">
        Explore exciting freelance opportunities to develop valuable skills, expand your network and pursue ambitious projects.
      </p>
    </div>

    <div class="card3-right r1" [@fadeIn]>
      <img
        src="../../assets/images/3D money cash.png"
        class="business-man-img"
        alt="tao"
        width="600"
        height="480"
        style="filter: drop-shadow(0px 27px 17px #00000026)"
      />
    </div>
  </div>
</section>



  <app-footer></app-footer>
