$prism-height: 550px;
$prism-length: 350px;
$prism-depth: $prism-length;
$spacing: 20px;
$br: 3px;
$font:Tahoma, Verdana, Segoe, sans-serif;
// Colors
$text-light: #fff;
$text-dark: #666;
$blue: #03a9f4;
$smoke: #f9f9fa;
$coral: #ff5751;
$navy-blue: #07ad90;
$green: #07ad90;


nav {
  &.primary-navigation {
    margin: 0 auto;
    display: block;

    padding: 20px 0 50px 0;
    text-align: center;
    font-size: 18px;

    ul li {
      list-style: none;
      margin: 0 auto;
      // border-left: 2px solid #3ca0e7;
      display: inline-block;
      padding: 0 30px;
      position: relative;
      text-decoration: none;
      text-align: center;
      font-family: arvo;
    }

    li a {
      color: black;
    }

    li a:hover {
      color: #3ca0e7;
    }

    li:hover {
      cursor: pointer;
    }

    ul li ul {
      visibility: hidden;
      opacity: 0;
      position: absolute;
padding-left: 0;
      left: 0;
      display: none;
      background: white;
    }

    ul li:hover > ul,
    ul li ul:hover {
      visibility: visible;
      opacity: 1;
      display: block;
      min-width: 250px;
      text-align: left;
      padding-top: 20px;
      box-shadow: 0px 3px 5px -1px #ccc;
    }

    ul li ul li {
      clear: both;
      width: 100%;
      text-align: left;
      margin-bottom: 20px;
      border-style: none;
    }

    ul li ul li a:hover {
      padding-left: 10px;
      border-left: 2px solid #3ca0e7;
      transition: all 0.3s ease;
    }
  }
}
// .card {
//   /* Add shadows to create the "card" effect */
//   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
//   transition: 0.3s;
//   width: 60%;
//   margin: auto;
//   img{
//     position: absolute;
//     top: 0;
//     right: 0;
//     bottom: 0;
//     left: 0;
//     background-size: cover;
//     background-position: center;
//     transition: transform .2s;
//   }
// }

// /* On mouse-over, add a deeper shadow */
// .card:hover {
//   box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
// }

// /* Add some padding inside the card container */
// .container {
//   padding: 2px 16px;
// }
a {

    text-decoration: none;

    &:hover {
        color: #3CA0E7;
    }

}

 ul li ul li a { transition: all 0.5s ease; }

// ******************
/*PEN STYLES*/

* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
  display: flex;
  flex-direction:column;
  font-size: 1rem;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

$color_white: #fff;
$color_prime: #5ad67d;
$color_grey: #e2e2e2;
$color_grey_dark: #a2a2a2;

.blog-card {
  display: flex;
  flex-direction: column;
  margin: 5rem auto;
  box-shadow: 0 3px 7px 1px rgba($green, 10);
  margin-bottom: 1.6%;
  background: $color_white;
  line-height: 2.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  background-image: linear-gradient($green, $color_grey_dark);
  a {
    color: inherit;
    &:hover {
      color: $color_prime;
    }
  }
  button{

    width: 20%;
      border: none;
      line-height: 2em;
      border: 1px solid $green;
      color: white;
      background-color: #07ad90;
      border-radius: 15px;
      font-family: $font bold;
  }
  &:hover {
    .photo {
      transform: scale(0.9) translate(10%);
    }
  }
  .meta {
    position: relative;
    z-index: 0;
    height: 200px;
  }
  .photo {
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    background-position: center;
    transition: transform .9s;

  }
  .details,
  .details ul {
    margin: auto;
    padding: 0;
    list-style: none;
  }

  .details {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -100%;
    margin: auto;
    transition: left .2s;
    background: rgba(#000, .6);
    color: $color_white;
    padding: 10px;
    width: 100%;
    font-size: .9rem;

    a {
      text-decoration: dotted underline
    }
    ul li {
      display: inline-block;
    }
    .author:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f007";
    }

    .date:before {
      font-family: FontAwesome;
      margin-right: 10px;
      content: "\f133";
    }

    .tags {
      ul:before {
        font-family: FontAwesome;
        content: "\f02b";
        margin-right: 10px;
      }
      li {
        margin-right: 2px;
        &:first-child {
          margin-left: -4px;
        }
      }
    }
  }
  .description {
    padding: 1rem;
    background: $color_white;
    position: relative;
    z-index: 1;

    h1,
    h2 {
      font-family: $font;
    }
    h1 {
      line-height: 1;
      margin: 0;
      font-size: 1.7rem;
    }
    h2 {
      font-size: 1rem;
      font-weight: 300;
      text-transform: uppercase;
      color: $color_grey_dark;
      margin-top: 5px;
    }
    .read-more {
      text-align: right;
      a {
        color: $color_prime;
        display: inline-block;
        position: relative;
        &:after {
          content: "\f061";
          font-family: FontAwesome;
          margin-left: -10px;
          opacity: 0;
          vertical-align: middle;
          transition: margin .3s, opacity .3s;
        }

        &:hover:after {
          margin-left: 5px;
          opacity: 1;
        }
      }
    }
  }
  p {
    position: relative;
    margin: 1rem 0 0;
    &:first-of-type {
      margin-top: 1.25rem;
      &:before {
        content: "";
        position: absolute;
        height: 5px;
        background: $color_prime;
        width: 35px;
        top: -0.75rem;
        border-radius: 3px;
      }
    }
  }
  &:hover {
    .details {
      left: 0%;
    }
  }


  @media (min-width: 640px) {
    flex-direction: row;
    max-width: 700px;
    .meta {
      flex-basis: 40%;
      height: auto;
    }
    .description {
      flex-basis: 60%;
      &:before {
        transform: skewX(-3deg);
        content: "";
        background: #fff;
        width: 30px;
        position: absolute;
        left: -10px;
        top: 0;
        bottom: 0;
        z-index: -1;
      }
    }
    &.alt {
      flex-direction: row-reverse;
      .description {
        &:before {
          left: inherit;
          right: -10px;
          transform: skew(3deg)
        }
      }
      .details {
        padding-left: 25px;
      }
    }
  }
}


.footer{
  background:$green;
  padding:30px 230px;
  font-family: 'Play', sans-serif;
  text-align:center;
  }

  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:rgb(255, 255, 255);
  font-size:0.8em;
  }

  .footer .row a{
  text-decoration:none;
  color:rgb(255, 255, 255);
  transition:0.5s;
  }

  .footer .row a:hover{
  color:#fff;
  }

  .footer .row ul{
  width:100%;
  }

  .footer .row ul li{
  display:inline-block;
  margin:0px 30px;
  }

  .footer .row a i{
  font-size:2em;
  margin:0% 1%;
  }

  @media (max-width:720px){
  .footer{
  text-align:left;
  padding:5%;
  }
  .footer .row ul li{
  display:block;
  margin:10px 0px;
  text-align:left;
  }
  .footer .row a i{
  margin:0% 3%;
  }
  }
